@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";

  background-color: #fafafa;
  color: #09090b;
  min-height: 100vh;
  margin: 0;
}

.container {
  @apply px-6 py-15 max-w-[1200px] mx-auto flex flex-col gap-15 min-h-screen justify-center;
}
