# Database Configuration
DB_USER=user
DB_PASSWORD=password
DB_NAME=moodbrief_db

# Backend Configuration
DATABASE_URL=postgresql://user:password@db:5432/moodbrief_db

# OpenRouter API
OPENROUTER_API_KEY=your_openrouter_api_key_here
OPENROUTER_MODEL=google/gemini-2.5-flash
OPENROUTER_TEXT_MODEL=google/gemma-3-27b-it:free

# Разрешенные CORS домены (JSON-массив)
BACKEND_CORS_ORIGINS=["http://localhost:3000", "http://127.0.0.1:3000", "https://moodbrief.vercel.app"]

# Frontend Configuration
NEXT_PUBLIC_API_URL=http://localhost:8000